html, body, #root {
  height: 100%;
}

.page {
  min-height: 100vh;              
  display: flex;
  flex-direction: column;
  background: #f3f3f3;           
}

.container {
  flex: 1;                        
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: min(1200px, calc(100% - 32px));
  margin: 16px auto;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
  padding: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}


